
<div class="row m-2 border-bottom">
<div class="col">
  <%= atendee.id %>
  <%= atendee.user_id %>

</div>

<div class="col">
  <div id="source">
    <% if current_user.id == atendee.user_id %>
        <%= link_to 'Resign from event', [atendee.event, atendee],
                    method: :delete,
                    data: { confirm: 'Are you sure?' },
                    class: "btn btn-danger"%>
    <% end %>

  </div>
</div>
</div>